// Default variable overrides
//   $body-bg: #000;
//   $body-color: #111;

$primary: #149954;
$primary-dark: #0e693a;
$dark: $primary-dark;
$danger: #E4312B;
// $success: red;


@import "bootstrap/scss/bootstrap";
